---
layout: default
title: Home
---


<div class="posts">
    {% for post in paginator.posts %}
    <article class="post">
        <h1 class="post-title">
            <a href="{{ post.url | relative_url }}">
                {{ post.title }}
            </a>
        </h1>

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <p>
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ post.date | date: date_format }}
            </time>
        </p>

        <section class="post-content">
            {{ post.content }}
        </section>
    </article>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">&laquo; Previous</a>
    {% endif %}
    {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Next &raquo; </a>
    {% endif %}
</div>