---
layout: default
---
<h1>{{site.title}}</h1>

<p><span class="read-more-link-container"><a href="{{ "/about" | relative_url }}">about me</a></span></p>

<h3>Contact</h3>
{% include contact.html %}

<div class="div-with-margin">
  <a class="no-underline" href="{{ "/feed.xml" | relative_url }}">
      {% include svg/rss_icon.svg %}
  </a>
  <h3 class="inline no-margin">Messages</h3>
</div>

<table>
  <tbody>
    {% for post in site.posts %}
      <tr>
        <td><time class="small" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y/%m/%d" }}</time></td>
        <td><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
