---
layout: default
---
<header>
  <div class="navigation-container">
      <span id="home-link">
        <a href="{{ "/" | relative_url}}">Home</a>
      </span>
  </div>
  <h1>{{ page.title | escape }}</h1>
  <div>
    {% if page.date or page.time_to_read %}
    <span onclick="javascript:location.href='{{ "/feed.xml" | relative_url }}'">
      {% include svg/rss_icon.svg %}
    </span>
    {% endif %}
    {% if page.date %}
      <time class="small inline" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    {% endif %}
    {% if page.time_to_read %}
      <span class="small inline read-time">{{page.time_to_read}} minute read</span>
    {% endif %}
  </div>
</header>
{{ content }}
{% if page.next or page.previous %}
  <div id="post-navigation-container" class="navigation-container">
    {% if page.previous.url %}
      <div id="next-post" {% unless page.next.url %} class="whole-width" {% endunless %}>
        <div>
          <a href="{{page.previous.url}}">{{page.previous.title}}</a>
        </div>
        {% if page.previous.time_to_read %}
          <time class="small inline read-time">{{page.previous.time_to_read}} minute read</time>
        {% endif %}
      </div>
    {% endif %}
    {% if page.next.url %}
      <div id="previous-post" {% unless page.previous.url %} class="whole-width" {% endunless %}>
        <div>
          <a href="{{page.next.url}}">{{page.next.title}}</a>
        </div>
        {% if page.next.time_to_read %}
          <time class="small inline read-time ">{{page.next.time_to_read}} minute read</time>
        {% endif %}
      </div>
    {% endif %}
    <div style="clear: both;"></div>
  </div>
{% endif %}
